html {
    font-size: 18px;
}

body {
    margin: 0 auto;
    display: block;
    padding: 0.5em 0.75em;
    max-width: 32em;
    font-family: sans-serif;
}

a[href^="http"]:after {
    content: " \10555";
    color: #a008d3;
}


@media (prefers-color-scheme: light) {
    body {
    	color: black;
		background-color: #fff;
    }
    
    a {
		color: black;
    }
    
}

@media (prefers-color-scheme: dark) {
    body {
    	color: #eee;
		background-color: black;
    }
    
    a {
		color: silver;
    }

}
